{% extends 'base.html' %}
{% load i18n static %}

{% block content %}
    <div class=row>
     <h4 class="card-title">{% trans 'Confirm password reset'%}</h4>
    </div>
    <div class="card small">
        <div class="card-content">
            <form method="POST">
                {% csrf_token %}
                {% if validlink %}
                <div class="row">
                    <div class="input-field">
                        {{ form.as_p }}
                    </div>
                </div>
                <button type="submit" class="btn btn-default waves-effect amber darken-3" value="{% trans 'Set password' %}">{% trans 'Set Password' %}</button>
                {% else %}
                <div class="row">
                    Password reset unsuccessful. Please <a href="{% url 'auth_password_reset' %}">try again.</a>
                </div>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}
