{% extends "header2.html" %}
{% load i18n static %}
{% block content %}
<div class="section">
</div>
<div class="section">
</div>
<div class="container">
    <div class="section">
        <div class="row">
            <div class="card small col l4 push-l4">
        		<div class="card-content">
                    <div class="card-title">{% trans 'Password reset'%}</div>
                    <div class="divider"></div>
                </div>
                <div class="card-content">
                    {% blocktrans %}
                    We have sent you an email with a link to reset your password. Please check
                    your email and click the link to continue.
                    {% endblocktrans %}
                    <div class="section">
                    </div>
                    <center><a class="btn btn-default waves-effect amber" href="{% url 'login' %}" >{% trans 'Back' %}</a></center>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
