{% extends "header2.html" %}
{% load i18n %}
{% block content %}
<div class="section">
</div>
<div class="section">
</div>
<div class="container">
    <div class="section">
        <div class="row">
            <div class="card small col l6 push-l3">
        		<div class="card-content">
                    <div class="card-title">{% trans 'Password reset completed'%}</div>
                    <div class="divider"></div>
                </div>
                <div class="card-content">
                <p class="center-align">
                        {% trans "Your password has been reset!" %}
                        {% blocktrans %}You may now <a href="{{ login_url }}">log in</a>{% endblocktrans %}.

                </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
