{% extends 'base.html' %}
{% load i18n static %}

{% block content %}
<div class="section">
</div>
<div class="section">
</div>
<div class="container">
    <div class="section">
        <div class="row">
            <div class="card small col l4 push-l4">
                <div class="card-content">
                    <div class="card-title">{% trans 'Confirm password reset'%}</div>
                    <div class="divider"></div>
                    <form method="post">
                        {% csrf_token %}
                        {% if validlink %}
                        <div class="row">
                            {% for field in form %}
                            <div class="input-field ">
                                {{ field }}
                                <label for="{{ field.name }}">{{ field.label }}</label>
                            </div>
                            {% endfor %}
                        </div>
                        <center><button type="submit" class="btn waves-effect amber" value="{% trans 'Set password' %}">{% trans 'Set Password' %}</button></center>
                        {% else %}
                        <div class="row">
                            Password reset unsuccessful. Please <a href="{% url 'auth_password_reset' %}">try again.</a>
                        </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
