{% extends 'header2.html' %}
{% load i18n static %}

{% block content %}
<div class="section">
</div>
<div class="section">
</div>
<div class="container">
    <div class="section">
        <div class="row">
            <div class="card small col l4 push-l4">
                <div class="card-content">
                    <div class="card-title">{% trans 'Password reset'%}</div>
                    <div class="divider"></div>
                </div>
        		<div class="card-content">
                   <form method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="input-field">
                                {{ form.email.errors }}
                                {{ form.email }}
                                <label for="id_email">{% trans 'Email address' %}</label>
                            </div>
                        </div>
                        <center><button type="submit" class="btn waves-effect amber" value="{% trans 'Reset my password' %}">{% trans 'Reset my password' %}</button></center>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
