{% extends 'header2.html' %}
{% load i18n  %}
{% block content %}

<div class="container" style="margin-top:3%;">
  <div class="section">
    <div class="row">
      <div class="card large col l8 push-l2 purple accent-4">
        <div class="card-content">
          <form id="registrationform" action="{% url 'register' %}" data-url='{{ request.build_absolute_uri|safe }}' novalidate>
            {% csrf_token %}
            <div class="row">
              {% for field in form.visible_fields %}
                {% if field.name == 'email' %}
                <div class="input-field col l12">
                {% else %}
                <div class="input-field col l6">
                {% endif %}
                    {% if field.name == 'email' %}
                    <i class="white-text material-icons prefix">account_circle</i>
                    {% elif field.name == 'first_name' or field.name == 'last_name' %}
                    <i class="white-text material-icons prefix">people</i>
                    {% elif field.name == 'password1' or field.name == 'password2' %}
                    <i class="white-text material-icons prefix">enhanced_encryption</i>
                    {% endif %}
                    {{ field }}
                    <label class="white-text" for="{{ field.name }}">{{ field.label }}</label>
                    <span class="helper-text grey-text text-lighten-1" >{{ field.help_text }}</span>
                </div>
                {% endfor %}
                </div>
              <div class="row center">
                <!--<a href="{% url 'login' %}"><button name="back" id="back" type="button" class="btn waves-effect grey col l6" >{% trans 'Login' %}</button></a>-->
                <button name="register" id="register" type="submit" class="btn waves-effect red accent-2 col l6 push-l3" >{% trans 'Sign up' %}</button>
              </div>
              <div class="card-action white">
              Do you have an account already? <a class="purple-text text-accent-4" href="{% url 'login' %}">Sign in</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

$(document).ready(function () {
    $("#registrationform").materialvalidation({
        theme: "materialize"
    });
    var $myForm = $("#registrationform")
    $("#registrationform").submit(function (evt) {
        evt.preventDefault();
        evt.stopPropagation();
        if ($("#registrationform").data().materialvalidation.methods.validate()) {
            var $formData = $(this).serialize()
            var $thisURL = $myForm.attr('data-url') || window.location.href
            $.ajax({
                method: "POST",
                url: $thisURL,
                data: $formData,
                success: function(){
                    M.toast({html: "Successfully registered!"})
                    M.toast({html: "We've sent a message to your email, check it for activation."})
                    window.location.href = "{% url 'registration_complete' %}"
                },
                error: function(response){
                    Object.keys(response.responseJSON).forEach(function(key){
                      M.toast({html: response.responseJSON[key]})
                    });
                },
            })
        }
        return false
    });
});
</script>

{% endblock %}
