{% extends "header2.html" %}
{% load i18n static %}

{% block content %}
<div class="section">
</div>
<div class="section">
</div>
<div class="container">
    <div class="section">
        <div class="row">
            <div class="card medium col l4 push-l4">
        		<div class="card-content">
                    <h4 class="card-title center-align">{% trans "Activation email sent" %}</h4>
                </div>
                <div class="card-content">
                    <p class="center-align">{% trans "Please check your email to complete the registration process." %}</p>
                </div>
                <center><a class="btn waves-effect amber" href="{% url 'login' %}" >{% trans 'Back' %}</a></center>
            </div>
        </div>
    </div>
</div>
{% endblock %}
