.tabs .tab a{
    color:#01579b;
}
.tabs .tab a:hover,.tabs .tab a.active {
	background-color:transparent;
	color:#01579b;
}
.tabs .tab.disabled a,.tabs .tab.disabled a:hover {
	color:rgba(102,147,153,0.7);
}
.tabs .indicator {
	background-color:#01579b;
}

.thumbnail {
    max-height: 15px;
    max-width: 15px;
}