{% load static %}
{% load i18n %}

{% block content %}
{% for form in forms %}
    {% if forloop.counter0 == 4 %}
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        {% if forloop.counter0 == 0 %}
        <div class="input-field col s12">
        {% else %}
        <div class="input-field col s6">
        {% endif %}
            {{ field }}
            <label for="{{ field.label }}">{{ field.label }}<label>
            <!--<span class="helper-text" data-error="wrong" data-success="right">{{field.help_text}}</span>-->
        </div>
        {% endfor %}
        <div class="row center-align">
    	 <input type="hidden" name="selected_form" value="{{ forloop.counter0 }}"></input>
         <button class="waves-effect waves-teal btn-flat" type="submit">{% trans 'Submit' %}</button>
        </div>
    </form>
    {% endif %}
{% endfor %}
{% endblock %}
