{% extends 'header.html' %}
{% load static %}
{% block content %}
{% load i18n %}

  <div class="section blue darken-3 white-text">
    {% if has_wallet %}
    <h1 class="center-align">{% trans 'Welcome back, ' %} {{ user.get_short_name }}!</h1>
    {% else %}
    <h1 class="center-align">{% trans 'Welcome, ' %} {{ user.get_short_name }}</h1>
    <h3 class="center-align">{% trans "We are glad you've chose us!" %}</h3>
    <h5 class="center-align">{% trans "You haven't created a wallet yet, want to try it?" %}</h5>
    <br>
    <center><a class="waves-effect waves-light btn btn-large red accent-2 modal-trigger" href="#cwmodal"><i class="material-icons left">attach_money</i>Create your wallet now!</a></center>
    {% endif %}
    </div>
<div class="section">
    <div class="row">
        <div class="col s6 l5 push-l1">
            <div class="card medium">
                <div class="card-tabs">
                    <ul class="tabs tabs-fixed-width z-depth-1">
                        <li class="tab"><a href="#bitcoininfo">Wallets</a></li>
                    </ul>
                </div>
                <div class="card-content wallets slider">
                    <!--<span class="card-title white-text">Bitcoin information</span>-->
                    {% if has_wallet and has_btc %}
                    <!--<div class="divider"></div>-->
                        <ul class="collection" style="height:inherit;">
                            <li class="collection-item avatar" style="min-height:0px;">
                            <span class="title grey-text text-darken-4">{% trans "Your balance:" %} </span>
                                <i class="fab fa-btc  circle amber"></i><div>{{ balance|floatformat:2 }} bitcoins</div>
                            </li>
                            <li class="collection-item avatar" style="min-height:0px;"><span class="title grey-text text-darken-4">{% trans "Regular fee: "%}</span>
                                <i class="material-icons circle blue">attach_money</i><div>{{ fee }} satoshis</div>
                            </li>
                            <li class="collection-item avatar" style="min-height:0px;"><span class="title grey-text text-darken-4">{% trans "Value in dollars: "%}</span>
                                <i class="fas fa-hand-holding-usd circle green"></i><div>{{ value_to_usd|floatformat:2 }} USD$ p/BTC</div>
                            </li>
                            <li class="collection-item avatar" style="min-height:0px;"><span class="title grey-text text-darken-4">{% trans "Value in euros: "%}</span>
                                <i class="fas fa-euro-sign circle red"></i><div>{{ value_to_eur|floatformat:2 }} EUR₵ p/BTC</div>
                            </li>
                        </ul>
                    {% else %}
                       <!-- <div class="divider"></div>-->
                        <br><br>
                        <center><i class="amber-text text-accent-2 fab fa-btc fa-10x"></i></center>
                        <br><br>
                        <center><button class=" waves-effect waves-light btn btn-large amber accent-2 white-text createwallet" data-url="{% url 'createwallet' %}">Create your wallet</button></center>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col s12 l5 push-l1">
            <div class="card medium">
                <div class="card-tabs">
                    <ul class="tabs tabs-fixed-width z-depth-1">
                        <li class="tab"><a class="active" href="#activitychart">Activity</a></li>
                         <li class="tab"><a href="#activitychart">Security</a></li>
                    </ul>
                </div>
                <div class="card-content">
                    <div id="activitychart"></div>
                </div>
            </div>
    </div>
    <div class="row">
        <div class="col s12 l7 push-l1">
            <div class="card medium" id="chart">
                <div class="card-tabs">
                  <ul class="tabs tabs-fixed-width z-depth-1">
                    <li class="tab"><a class="active" href="#chartbtc">Price</a></li>
                      <li class="tab"><a href="#btctxcount">Transactions daily</a></li>
                  </ul>
                </div>
                <div class="card-content" style="display:block">
                    <div id="chartbtc"></div>
                    <div id="btctxcount"></div>
                </div>
            </div>
        </div>
        <div class="col s12 l3 push-l1">
           <div class="card medium">
                <div class="card-tabs">
                    <ul class="tabs tabs-fixed-width z-depth-1">
                        <li class="tab"><a class="active" href="#activitychart">Tips</a></li>
                    </ul>
                </div>
                <div class="card-content">
                    <div id="tips"></div>
                </div>
            </div>
        </div>
    </div>
<!--<div class="row col s6 l6">
<div class="card large blue darken-4">
    <div class="card-content">
        <span class="card-title right-align white-text">Ether information</span>
        {% if has_wallet and has_eth %}
        <div class="divider"></div>
        <div class="section"></div>
        <ul class="collection">
            <li class="collection-item avatar">
            <span class="title grey-text text-darken-4">{% trans "Your balance:" %} </span>
                <i class="fab fa-ethereum circle grey darken-2"></i><div>{{ balance_eth|floatformat:2 }} ethers</div>
            </li>
            <li class="collection-item avatar"><span class="title grey-text text-darken-4">{% trans "Regular gas price: "%}</span>
                <i class="material-icons circle blue">attach_money</i><div>{{ gas_price }} ethers</div>
            </li>
            <li class="collection-item avatar"><span class="title grey-text text-darken-4">{% trans "Value in dollars: "%}</span>
                <i class="fas fa-hand-holding-usd circle green"></i><div>{{ eth_to_usd|floatformat:2 }} USD$ p/ETH</div>
            </li>
            <li class="collection-item avatar"><span class="title grey-text text-darken-4">{% trans "Value in euros: "%}</span>
                <i class="fas fa-euro-sign circle red"></i><div>{{ eth_to_eur|floatformat:2 }} EUR₵ p/ETH</div>
            </li>
        </ul>
        {% else %}
            <div class="divider"></div>
            <br><br>
            <center><i class="white-text fab fa-ethereum fa-10x"></i></center>
            <br><br>
            <center><a class=" waves-effect waves-light btn btn-large white blue-text text-darken-4" href="#!">Create your wallet</a></center>
        {% endif %}
    </div>
</div>
</div>-->
</div>
<style>
.nextArrowBtn{
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    position: absolute;
    z-index: 1000;
    top: 40%;
    right: 0;
    color: #BFAFB2;
}
.prevArrowBtn{
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    position: absolute;
    z-index: 1000;
    top: 40%;
    left: 0;
    color: #BFAFB2;
}

.prevArrowBtn:hover{
    color: #FF5252;
}

.nextArrowBtn:hover{
    color: #FF5252;
}

</style>
<script>
    $('.wallets').slick({
        autoplay: true,
        autoplaySpeed: 5000,
        speed: 1000,
        arrows: true,
        fade:true,
        adaptiveHeight: true,
        prevArrow: '<i class="small material-icons prevArrowBtn">keyboard_arrow_left</i>',
        nextArrow: '<i class="small material-icons nextArrowBtn">keyboard_arrow_right</i>',
    });
</script>
{% csrf_token %}
{% include 'tx.html' %}
{% endblock %}
