{% load static %}
{% load i18n %}
<head>
  <title class"center-align">Squirrel Wallet</title>
  <meta meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- CSS Styles -->
  <link href="{% static 'css/material-icons.css' %}" rel="stylesheet">
  <link href="{% static 'css/fontawesome/fontawesome-all.css' %}" rel="stylesheet">
  <link href="{% static 'css/roboto.css' %}" rel="stylesheet">
  <link href="{% static 'css/lato.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/materialize.css' %}"  media="screen,projection"/>
  <link href="{% static 'css/highcharts.css' %}" rel="stylesheet">
  <!-- Javascript -->
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/materialize.js' %}"></script>
  <script src="{% static 'js/materialize-validation.min.js' %}"></script>
  <script src="{% static 'js/highcharts.js' %}"></script>
  <script src="{% static 'js/modules/stock.js' %}"></script>
</head>
<nav class="amber accent-3">
  <div class="container nav-wrapper amber accent-3">
    <a href="{% url 'dashboard' %}" class="brand-logo">&nbsp;<i class="material-icons left">account_balance_wallet</i>Squirrel Wallet</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      {% if user.is_authenticated %}
      <li><a class="tooltipped" data-position="bottom" data-tooltip="{% trans 'Settings' %}" href="{% url 'settings' user.pk %}"><i class="material-icons">account_box</i></a></li>
      {% if has_wallet %}
        <li><a class="tooltipped" data-position="bottom" data-tooltip="{% trans 'Wallet' %}" href="{% url 'wallet' %}"><i class="material-icons">account_balance</i></a></li>
      {% else %}
        <li disabled><a href="#cwmodal" class="tooltipped modal-trigger" data-position="bottom" data-tooltip="{% trans 'Create a wallet' %}"><i class="material-icons">account_balance</i></a></li>
      {% endif %}
        <li><a class="tooltipped" data-position="bottom" data-tooltip="{% trans 'Activity' %}" href="{% url 'activity' %}"><i class="material-icons"><i class="material-icons">credit_card</i>t</i></a></li>
        <li><a class="tooltipped" data-position="bottom" data-tooltip="{% trans 'Logout' %}" href="{% url 'auth_logout' %}"><i class="material-icons">power_settings_new</i></a></li>&nbsp;
      {% else %}
        <li><a class="tooltipped" data-position="bottom" data-tooltip="{% trans 'Login' %}" href="{% url 'login' %}"><i class="material-icons">input</i></a></li>
        <li><a class="tooltipped" data-position="bottom" data-tooltip="{% trans 'Sign up' %}" href="{% url 'registration_register' %}"><i class="material-icons">people</i></a></li>
      {% endif %}
    </ul>
    <ul class="sidenav amber accent-4" id="mobile-demo">
      <div class="section amber darken-1">
        <li><a href="{% url 'dashboard' %}" class="waves-effect waves-light"><i class="material-icons">home</i>Dashboard</a></li>
        {% if has_wallet %}
          <li><a href="{% url 'wallet' %}" class="waves-effect waves-light"><i class="material-icons">account_balance</i>Wallet</a></li>
        {% else %}
          <li><a class="waves-effect waves-light"><i class="material-icons">account_balance</i>Create your wallet</a></li>
        {% endif %}
          <li><a href="{% url 'settings' user.pk %}" class="waves-effect waves-light"><i class="material-icons">account_box</i>Settings</a></li>
          <li><a href="{% url 'activity' %}" class="waves-effect waves-light"><i class="material-icons">credit_card</i>Activity</a></li>
          <li><a href="{% url 'auth_logout' %}" class="waves-effect waves-light"><i class="material-icons">power_settings_new</i>Log out</a></li>
      </div>
    </ul>
  </div>
</nav>
<body class="grey lighten-2">
  <div id="home" class="row col s12 m12 l12">
    {% block content %}
    {% endblock %}
  </div>
  {% if user.is_authenticated %}
    <div class="fixed-action-btn">
      <a class="btn-floating btn-large red darken-2"><i class="large material-icons">account_balance_wallet</i></a>
      <ul>
        {% if has_btc %}
          <li><a href="#bitcointx" class="btn-floating amber darken-1 modal-trigger tooltipped" data-position="left" data-tooltip="{% trans 'Send bitcoins' %}"><i class="fab fa-btc"></i></a></li>
        {% else %}
          <li><a href="{% url 'bitcoincreate' %}" class="btn-floating amber darken-1 modal-trigger tooltipped" data-position="left" data-tooltip="{% trans 'New bitcoin wallet' %}"><i class="fab fa-btc"></i></a></li>
        {% endif %}
        {% if has_tx %}
            <li><a href="#transactions" class="btn-floating purple tooltipped" data-position="left" data-tooltip="{% trans 'Transactions' %}" ><i class="material-icons">list</i></a></li>
        {% endif %}
      </ul>
    </div>
    {% include 'transactions.html' %}
  {% endif %}
  <div id="cwmodal" class="modal modal-fixed-footer">
      <div class="section">
        <div class="modal-content row">
            <div class="row col s12 m6 l6">
              <center>
              <a href="{% url 'bitcoincreate' %}"><i class="amber-text fab fa-btc fa-10x"></i>
              <a class="waves-effect waves-light btn btn-large amber darken-1" href="{% url 'bitcoincreate' %}">Create bitcoin wallet</a>
              </center>
            </div>
        </div>
      </div>
  </div>
</body>
<script>


$(document).ready(function(){
$('.collapsible').collapsible();
});

 $('.dropdown-trigger').dropdown();

$(document).ready(function(){
    $('.modal').modal()
});

$(document).ready(function(){
  $('.tabs').tabs()
});

var elem = document.querySelector('.fixed-action-btn');
  var instance = M.FloatingActionButton.init(elem, {
    direction: 'top'
});

$(document).ready(function(){
    $('.sidenav').sidenav();
  });

  $(document).ready(function(){
    $('.tooltipped').tooltip();
  });

</script>
