{% load static %}
{% load i18n %}
 <head>
     <title class"center-align">Squirrel Wallet</title>
     <meta meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <link href="{% static 'css/material-icons.css' %}" rel="stylesheet">
     <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>
      <link href="{% static 'css/my-login.css' %}" rel="stylesheet">
      <link href="{% static 'css/roboto.css' %}" rel="stylesheet">
       <link href="{% static 'css/lato.css' %}" rel="stylesheet">
       <script src="{% static 'js/jquery.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/materialize-validation.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
</head>
<body class="grey lighten-2 nav-wrapper">
    <div id="home" class="row col s12 m12 l12">
        {% block content %}
        {% endblock %}
    </div>
</body>
