{% extends 'header.html' %}
% load static %}
{% load i18n %}
{% block content %}
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 m12 l8">
                <div class="card large">
                     <ul class="tabs">
                         <li class="tab col s4">
                             <a href="#profile">Edit profile</a>
                         </li>
                         <li class="tab col s4"><a href="#pass">Change password</a></li>
                         <li class="tab col s4"><a href="#twofactor">2-pass authenticator</a></li>
                     </ul>
                   <div class="card-content">
                       <div id="profile">{% include 'profile.html' %}</div>
                       <div id="pass">{% include 'change_password.html' %}</div>
                   </div>
                </div>
            </div>
            <div class="col s12 m12 l4">
                <div class="card large">
                    <ul class="tabs tabs-fixed-width">
                        <li class="tab"><a href="#yourprofile">Your profile</a></li>
                    </ul>
                    <div class="card-content">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'tx.html' %}
{% endblock %}
